input {
	border: none;
}
.search_form{
	width: 1198px;
	height: 98px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px 
		rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	border: solid 1px #659ff5;
	margin: 0 auto;
	margin-top: 122px;
}
.search_form .input_list {
	padding: 25px 0 0px 34px;
	height: 75px;
	position: relative;
}
.search_form .input_list::after {
	display: block;
	content: '';
	width:1px;
	height: 56px;
	background-color: #e5e5e5;
	position: absolute;
	top:22px;
	right: 0;
}
.search_form .input_list input {
	width: 100%;
}
.search_form .dest.input_list {
	width: 194px;	
}
.search_form .arr_time.input_list ,
.search_form .leave_time.input_list {
	width: 233px;	
}
.search_form .business.input_list {
	width: 244px;	
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #ccc;
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #ccc;
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #ccc;
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #ccc;
} 
.search_form .input_list:nth-child(n+2){
	/*border-left: 1px solid #e5e5e5;*/
}
.search_form .input_list .tip {
	font-size: 14px;
	color: #999;
}
.search_form .input_list .dest_box{
	margin-top: 5px;
	padding-left: 23px;
}
.search_form .input_list input{
	font-size: 20px;
}
.search_form .input_list .date_box{
	width: 200px;
	padding-right: 35px;
	position: relative;
}
.search_form .date_box .arr_down {
	position: absolute;
	top: 10px;
	right: 60px;
	display: block;
	width: 12px;
	height: 6px;
	background: #fff url(/static/v1/img/date_arr_down.png) center center no-repeat;
}
.search_form .date_box .arr_down:hover {
	background: #fff url(/static/v1/img/h_date_arr_down.png) center center no-repeat;
}
#arr_time,
#leave_time{
	font-family: 'DINMittelschriftStd';
	font-weight: 300;
	font-size: 24px;
}
.search_form .input_list .dest_box {
	background: #fff url(/static/v1/img/location.png) left center no-repeat;
}
.search_form .searchBtn {
	width: 158px;
	height: 100px;
	background-color: #7aadf7;
	border-radius: 0 4px 4px 0;
	color: #fff;
	font-size:20px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	transition: all 0.3s; 
}
.search_form .searchBtn:hover{
	background-color: #6ba0ee;
	font-size: 22px;
}
.search_form  {
	position: relative;
}
.search_form .business .businessBox {
	position: absolute;
	top: 80%;
	right:55px;
	width: 300px;
	min-height:300px;
	padding: 3px;
    margin: 0px;
    z-index: 100;
    font-size: 12px;
    border: #C5C5C5 solid 1px;
    background: #FFF;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
    color: #555;
    display: none;
}
.search_form .businessBox .b_wap {
	border-bottom: 1px solid #eee;
    padding: 5px 10px;
}

.search_form .businessBox .b_wap:last-child{
	border-bottom: none;
}

.search_form .businessBox .tit{
	padding: 5px 0;
    font-size: 14px;
    font-weight: bold;
}
.search_form .businessBox span {
	padding: 0 6px;
    color: #555;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    display: inline-block;
    margin: 0 0 2px 0;
}
.search_form .businessBox span:hover {
	color: #fff;
    background: #58c;
    cursor: pointer;
}
.filterBox{
	margin: 8px auto 0;
	width: 1128px;
	padding:0 36px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px 
		rgba(0, 0, 0, 0.04);
	border-radius: 4px;
}
.filterBox .list {
	padding: 0px 0 16px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}

.filterBox .list.brandList {
	position: relative;

}
.filterBox .list.brandList .allBrandDiv {
	position: absolute;
	top: 40px;
	right: 0;
	border: 1px solid #DDD;
    background-color: #FFF;
    padding: 5px 25px 15px;
    max-width: 100%;
    z-index: 10;
    display: none;
}
.allBrandDiv .brand_box {
	display: inline-block;
}
.allBrandDiv .brand_box h3{
	color: #333;
    font-size: 14px;
    padding-left: 8px;
    font-weight: bold;
    padding-bottom: 8px;
}
.allBrandDiv .brand_list{
	border-top: 1px solid #cde;
	padding: 8px 0 0 0;
	width: 105px;
	margin-right:20px;
}
.allBrandDiv .brand_list li {
	height: 24px;
	line-height: 20px;
	display: block;
    overflow: hidden;
    padding-left: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
    cursor: pointer;
}
.filterBox .list.brandList .brand_box .filter{
	padding: 2px 8px;
    margin:0px;
    font-size: 14px;
    color: #666;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s;
    display: inline-block;
}
.filterBox .list.brandList .brand_box .filter.active, 
.filterBox .list.brandList .brand_box .filter:hover {
	color: #fff;
}
.filterBox .list.filter_topic{
	height: 40px;
	overflow: hidden;
}
.filterBox .list .filter_topicmore ,
.filterBox .list .filter_more {
	position: absolute;
	color: #666;
	top:18px;
	right:20px;
	font-size: 14px;
	cursor: pointer;
}
.filterBox .list .filter_topicmore:hover,
.filterBox .list .filter_more:hover {
	color:#2b7aef;
}
.filterBox .list .filter_topicmore:hover::after ,
.filterBox .list .filter_more:hover::after {
	border-bottom-color:#2b7aef;
	border-right-color:#2b7aef;
} 
.filterBox .list .filter_topicmore::after ,
.filterBox .list .filter_more::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0px;
	height: 0px;
	border: 3px solid #999;
	border-top-color:transparent;
	border-left-color:transparent;
	transform: rotate(45deg);
	margin-left: 8px;
	margin-top: -6px;

}
.filterBox .list .filter {
	padding: 4px 8px;
	margin-top: 16px;
	margin-right: 20px;
	font-size: 14px;
	color: #666;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.2s;
	display: inline-block;
}
.filterBox .list .filter.title:hover{
	cursor: default;
	background-color: #fff;
	color: #666;
} 
.filterBox .list .filter:hover,
 .filterBox .list .filter.active{
	background-color: #659ff5;
	color: #fff;
} 

.filterBox .list .locType {
	padding: 4px 8px;
	margin-right: 20px;
	font-size: 14px;
	color: #666;
	border-radius: 2px;
	cursor: pointer;
}
.filterBox .list .locType i {
	margin-top: -5px;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-right: 3px solid #999;
	border-bottom: 3px solid #999;
	border-top: 3px solid transparent ;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         rent;
	border-left: 3px solid transparent;
	transform:rotate(45deg);
}
.filterBox .list .loc_box {
	margin: 0 auto;
	margin-top: 10px;
	background-color: #f5f5f5;
	padding: 18px 15px;
	line-height: 30px;
	font-size: 14px;
	color: #999;
	overflow: hidden;
}
.filterBox .list .loc_box .filter {
	margin-top: 0px;
	padding:  0px 8px;
	line-height: 26px;
}
.filterBox  .loc_list.hide{
	height: 44px;
}
.filterBox  .loc_list.hide .loc_box{
	display: none;
}
.filterBox .list .loc_box span {
	margin-right: 10px;
}
.filterBox .list .loc_box span:hover,
.filterBox .list .loc_box span.active{
	color: #fff;
}
.filterBox .list .clickActive{
	background-color: #f5f5f5;
	padding-bottom: 20px;
}  
.filterBox .list .filter input {
	padding-left: 3px;
	width: 42px;
	height: 18px;
	border: 1px solid #ccc;
}
.filterBox .list .filter input.val1{
	margin-left: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
.filterBox .moreFilter {
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #999;
	font-size: 14px;
}
.filterBox .moreFilter span {
	cursor: pointer;
}
.content_wap {
	width: 1200px;
	margin: 8px  auto 90px;
	font-size: 14px;
	
} 

.content_wap .list_wap {
	width: 824px;
	padding: 0 28px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px 
		rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	color: #999;
}
.content_wap .list_wap .no_img {
	width: auto;
	height: auto;
}
.content_wap .list_wap .massage {
	margin-left: 50px;
	margin-top: 30px;
}
.content_wap .list_wap .massage  a {
	margin-left: 10px;
	color: #37e;
}
.content_wap .list_wap .massage  a:hover {
	color: #F55;
}
.content_wap .list_wap .nodata{
	display: none;
	height: 100px;
    background-color: #fff;
    padding: 30px 50px;
}
.content_wap .map_wap{
	width: 312px;
	height: 310px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px 
		rgba(0, 0, 0, 0.04);
	border-radius: 4px;
}
.content_wap .list_wap .title {
	color: #666;
	line-height: 39px;
	border-bottom: 1px solid #e5e5e5;
}
.content_wap .list_wap .title .left_filter span{
	margin-right: 50px;
}
.content_wap .list_wap .title .left_filter .filter {
	cursor: pointer;
}
.content_wap .list_wap .title .left_filter .filter:hover,
.content_wap .list_wap .title .left_filter .filter.active {
	color: #659ff5;
}
.content_wap .list_wap .title .left_filter .filter.active .ico {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #fff url(/static/v1/img/filter.png) center center no-repeat;
}
.content_wap .list_wap .title .left_filter .filter.active.up .ico {
	transition: all 0.2s;
	transform: rotate(180deg);
}
.content_wap .list_wap .title .right_tot span {
	color: #f4a21e;
} 
.content_wap .list_wap .hotel_box .list {
	padding: 18px 0;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.content_wap .list_wap .hotel_box .list .imgBox{
	width: 180px;
	height: 120px;
}
.content_wap .list_wap .hotel_box .list .info{
	width: 328px;
	margin-left:20px
}
.content_wap .list_wap .hotel_box .list .info .booking_time{

}
.content_wap .list_wap .hotel_box .list .hot_tit{
	margin: 2px 0;
	color: #333;
	font-size: 18px;
	height: 24px;
	cursor: pointer;
	font-weight: 600;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.content_wap .list_wap .hotel_box .list .keyword{
	color: #659ff5;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow:hidden;
}
.content_wap .list_wap .hotel_box .list .keyword .area {
	cursor: pointer;
}
.content_wap .list_wap .hotel_box .list .keyword .area:hover {
	font-weight: 600;
}
.content_wap .list_wap .hotel_box .list .keyword span {
	margin-right: 5px;
}
.content_wap .list_wap .hotel_box .list .location{
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow:hidden;
}
.content_wap .list_wap .hotel_box .list .service {
	margin-top: 5px;
}
.content_wap .list_wap .hotel_box .list .service .ico{
	width: 22px;
	height: 22px;
	display: inline-block;
	margin-right: 5px;
}
.content_wap .list_wap .hotel_box .list .service .ico.ico1,
.content_wap .list_wap .hotel_box .list .service .ico.ico2,
.content_wap .list_wap .hotel_box .list .service .ico.ico3,
.content_wap .list_wap .hotel_box .list .service .ico.ico4{
	background: #fff url(/static/v1/img/hotelServer_ico.png) -56px 0 no-repeat;
}
.content_wap .list_wap .hotel_box .list .service .ico.ico5,
.content_wap .list_wap .hotel_box .list .service .ico.ico6{
	background: #fff url(/static/v1/img/hotelServer_ico.png) -28px 0 no-repeat;
}
.content_wap .list_wap .hotel_box .list .service .ico.ico7,
.content_wap .list_wap .hotel_box .list .service .ico.ico8{
	background: #fff url(/static/v1/img/hotelServer_ico.png) -168px 0 no-repeat;
}
.content_wap .list_wap .hotel_box .list .service .ico.ico9,
.content_wap .list_wap .hotel_box .list .service .ico.ico10{
	background: #fff url(/static/v1/img/hotelServer_ico.png) -112px 0 no-repeat;
}

.content_wap .list_wap .hotel_box .list .service .ico.ico11{
	background: #fff url(/static/v1/img/hotelServer_ico.png) -84px 0 no-repeat;
}
.content_wap .list_wap .hotel_box .list .service .ico.ico12,
.content_wap .list_wap .hotel_box .list .service .ico.ico13{
	background: #fff url(/static/v1/img/hotelServer_ico.png) -140px 0 no-repeat;
}
.content_wap .list_wap .hotel_box .list .service .ico.ico14{
	background: #fff url(/static/v1/img/hotelServer_ico.png) -224px 0 no-repeat;
}
.content_wap .list_wap .hotel_box .list .service .ico.ico15{
	background: #fff url(/static/v1/img/hotelServer_ico.png) -196px 0 no-repeat;
}
.content_wap .list_wap .hotel_box .list .service .ico.ico16{
	background: #fff url(/static/v1/img/hotelServer_ico.png) 0px 0 no-repeat;
}
.content_wap .list_wap .hotel_box .list .price_box {
	width: 130px;
	text-align: center;	
	line-height: 24px;
	margin-top:20px
}
.content_wap .list_wap .hotel_box .list .price {
	color: #f4a21e;
	margin: 10px 0 5px;
	position: absolute;
	top:20px;
	right: 20px;
}
.content_wap .list_wap .hotel_box .list .price span {
	font-family: 'DINMittelschriftStd';
	font-size: 24px;
}
.content_wap .list_wap .hotel_box .list .price_box .point {
	font-size: 18px;
	color: #333;
}
.content_wap .list_wap .hotel_box .list .price_box .td {
	color: #659ff5;
}
.content_wap .list_wap .hotel_box .list .price_box .point span{
	font-weight: 600;
}
.content_wap .list_wap .hotel_box .list  .btn{
	position: absolute;
	bottom: 18px;
	right: 0;
}
.content_wap .list_wap .hotel_box .list  .btn a{
	
	transition: 0.2s;
	width: 120px;
	height: 32px;
	background-color: #659ff5;
	border-radius: 4px;
	color: #fff;
	line-height: 32px;
	font-size: 14px;
	display: inline-block;
	text-align: center;
}
.content_wap .list_wap .hotel_box .list .btn a:hover{
	transition: all 0.2s;
	background-color: #5091f2;
}

.content_wap .map_wap .title{
	color: #666;
	line-height: 39px;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 20px;
}
#allmap {
width: 100%;
height: 100%;
}
.BMap_Marker {
	z-index: 1!important;
}
.kui_data_content_pane {
	top:98px;
	left:230px;
}