
input {
	border: none;
}
.choice {
	padding-top: 10px;
}
.checkBox{
	cursor: pointer;
	margin-right: 15px;
	font-size: 14px;
	color: #999;
}
.checkBox::before {
	margin-right: 6px;
	display: inline-block;
	content:'';
	vertical-align: middle;
	width: 12px;
	height: 12px;
	border: 1px solid #e5e5e5;
	background-color: #fafafa;
}
.on.checkBox::before {
	background: #fff url(/static/v1/img/checked.png) center center no-repeat;
}
.storeNav {
	height: 67px;
	line-height: 67px;
	width: 1188px;
	margin: 68px auto 0;
	color: #999;
	padding-left: 12px;
	position: relative;
} 
.storeNav::before {
	display: block;
	content: '';
	width: 3px;
	height: 15px;
	background-color: #659ff5;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	left: 0;
}
.storeNav .list {
	margin-right: 28px;
}
.storeNav .list:hover,
.storeNav .list.active {
	color: #333;
	font-weight: 600;
}
.bannerWap{
	width: 1200px;
	margin: 0 auto;
	margin-top: 124px;
}
.bannerWap .leftForm{
	padding: 12px;
	width: 290px;
	height: 396px;
	background-image: linear-gradient(-43deg, 
		#659ff5 0%, 
		#8ab8fd 100%), 
	linear-gradient(
		#ffffff, 
		#ffffff);
	background-blend-mode: normal, 
		normal;
	box-shadow: 0px 2px 12px 0px 
		rgba(0, 0, 0, 0.1), 
		inset 0px 0px 6px 0px 
		rgba(255, 255, 255, 0.18);
	border-radius: 4px;
}

.bannerWap .rightBanner{
	overflow: hidden;
	width: 876px;
	height: 420px;
	box-shadow: 0px 2px 12px 0px 
		rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	background-color: #fff;
}
.swiper-container{
	height: 420px;
}
/*.fixwap {
	width: 290px;
	height: 396px;
	background-color: #ffffff;
	border-radius: 4px;
}*/
/*.bannerWap .leftForm {
	position: relative;
}*/
.bannerWap .leftForm  .formList  {
	z-index: 1;
	width: 298px;
	height: 396px;
	position: relative;
	overflow: hidden;
}
.bannerWap .leftForm  .formList .list.active {
	transition:0.5s;
	background-color: #ffffff;
	border-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	transform: scale(1) translateX(0px);
}
.bannerWap .leftForm  .formList .list {
	padding: 15px 28px;
	width: 290px;
	height: 396px;
	background-color: #c8ddfd;
	border-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transform: scale(0.95) translateX(16px);
	width: 234px;
	height: 366px;
	
}
.bannerWap .leftForm  .formList .list .searchBtn {
	border:none;
	width: 234px;
	height: 38px;
	margin-top: 18px;
	background-image: linear-gradient(-81deg, 
		#f4a21e 0%, 
		#ffb33a 100%), 
	linear-gradient(
		#f4a21e, 
		#f4a21e);
	background-blend-mode: normal, 
		normal;
	box-shadow: 0px 2px 10px 0px 
		rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}
.bannerWap .leftForm  .formList .list .searchBtn:hover{
	background: #ec9a16;
}
.bannerWap .leftForm  .formList .list .tit{
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	margin-top: 5px;
}
.bannerWap .leftForm  .formList .list .tip {
	margin-top: 14px;
	font-size: 14px;
	color: #b3b3b3;
}
.bannerWap .leftForm  .formList .list .input_box{
	height: 34px;
	padding-right: 34px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.bannerWap .leftForm  .formList .list .meetBox{
	border-bottom:none;
	padding-right: 0;
}

.bannerWap .leftForm  .formList .list .meetBox .time_left{
	width: 117px;
	padding-right: 25px;
	width: 92px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.bannerWap .leftForm  .formList .list .meetBox .time_right{
	width: 106px;
	border-bottom: 1px solid #e5e5e5;
	height: 33px;
	line-height: 33px;
}
.bannerWap .leftForm  .formList .list .meetBox .time_right span{
	width: 50px;
	display: inline-block;
	position: relative;
}
.bannerWap .leftForm  .formList .list .input_box::after,
.bannerWap .leftForm  .formList .list .meetBox .time_left::after,
 .bannerWap .leftForm  .formList .list .meetBox .time_right span::after{
	display: block;
	content: '';
	width: 9px;
	height: 9px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: transparent;
	transform:rotate(45deg) skew(-3deg,-3deg);
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 12px;

}

.leftForm  .formList .list .leave,
.leftForm  .formList .list .arrive {
	width: 100px;

}
.bannerWap .leftForm  .formList .list .input_list{
	position: relative;
}
.bannerWap .leftForm  .formList .list .input_list .change {
	cursor: pointer;
	position: absolute;
	left: 106px;
	top: 50%;
	margin-top: -8px;
	width: 20px;
	height: 16px;
	background: transparent url(/static/v1/img/store_change.png) center center no-repeat;
}
.bannerWap .leftForm  .formList .list .input_box input,
.bannerWap .leftForm  .formList .list .input_list .city input{
	background-color: transparent;
	font-size: 16px;
	font-family: PingFang-SC-Bold;
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #333;
}
.bannerWap .leftForm .type{
	width: 53px;
	font-weight: 600;
	color: #fff;
	position: absolute;
	top: 20px;
	right: 30px;
}
.bannerWap .leftForm .type .type_list {
	margin-top: 15px;
	line-height: 30px;
	height: 30px;
	border-bottom: 2px solid transparent;
}

.bannerWap .leftForm .type .type_list.active,
.bannerWap .leftForm .type .type_list:hover{
	border-bottom: 2px solid #fff;
}
.wap{
	width: 1200px;
	margin: 0 auto;
}
.wap .title {
	margin-top: 22px;
	width: 100%;
	height: 58px;
	line-height: 58px;
	
}
.wap .title .tit_left{
	position: relative;
	padding-left: 12px;
	font-size: 24px;
	font-weight: 600;
	color:#f7a726;
}
.wap .title .tit_left::before {
	position: absolute;
	top: 50%;
	margin-top: -10.5px;
	left: 0;
	content: '';
	width: 3px;
	height: 21px;
	background-color: #f7a726;
	
}

.wap .title .tit_right {
	color: #666;
} 
.wap .title .tit_right span {
	margin-left: 25px;
}
.ico_r{
	font-size: 20px;
	font-style:normal;
	font-family: Consolas;
}

.wap .title .tit_right span.active,
.wap .title .tit_right span:hover {                     
	color: #f7a726;
	font-weight: 600;
}


.saleTicket .title{
	position: relative;
}

.saleTicket  select{
	width: 62px;
	position: relative;
	padding: 0;
	border:none;
	height: 26px;
	border-radius: 4px;
	padding-left: 12px;
	color: #f4a21e;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	margin-left: 10px;
}
.saleTicket select::after {
	position: absolute;
	top: 6px;
	right: 6px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	border-right: 1px solid #f4a21e;
	border-bottom: 1px solid #f4a21e;
	transform: rotate(45deg);
}
.saleTicket  select option{
	border:none;
	color: #ccc;
}
.saleTicket  select option:hover{
	color: #f4a21e;
}

select::-ms-expand {
	display: none;
}

.saleTicket .title .tit_left::after {
	position: absolute;
	top: 25px;
	right: 6px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	border-right: 1px solid #f4a21e;
	border-bottom: 1px solid #f4a21e;
	transform: rotate(45deg);	
}

.saleTicket .sale_box .list {
	margin-right: 13px;
	width: 290px;
	height: 158px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px 
		rgba(0, 0, 0, 0.04);
	border-radius: 4px;
}
.saleTicket .sale_box .list:nth-child(n+5){
	margin-top: 12px;
}
.saleTicket .sale_box .list:nth-child(4n+4){
	margin-right: 0;
}
.saleTicket .sale_box .list .cityBox{
	height: 90px;
	border-bottom: 1px dashed #e5e5e5;
	position: relative;
}

.saleTicket .sale_box .list .cityBox::before,
.saleTicket .sale_box .list .cityBox::after {
	position: absolute;
	display: block;
	content: '';
	width: 3px;
	height: 18px; 
	background-color: #f6f6f6;
	top: 30px;
}
.saleTicket .sale_box .list .cityBox::before{
	background-color: #659ff5;
	left: 0px;
}
.saleTicket .sale_box .list .cityBox::after{
	background-color: #f4a21e;
	right: 0px;
	visibility:inherit;
}

.saleTicket .sale_box .list .infoBox::before,
.saleTicket .sale_box .list .infoBox::after {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%; 
	background-color: #f6f6f6;
	top: -5px;
}
.saleTicket .sale_box .list .infoBox::before{
	left: -5px;
}
.saleTicket .sale_box .list .infoBox::after{
	right: -5px;
	visibility:inherit;
}
.saleTicket .sale_box .list .cityBox .leave,
.saleTicket .sale_box .list .cityBox .arrive{
	width: 115px;
	text-align: center;
}
.saleTicket .sale_box .list .cityBox .line {
	width: 60px;
	height: 100%;
	background: #fff url(/static/v1/img/arr_r.png) right center no-repeat;
}
.saleTicket .sale_box .list .cityBox .city {
	margin-top: 25px;
	font-size: 20px;
	font-weight: 600;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow:hidden;
}
.saleTicket .sale_box .list .tip{
	font-size: 14px;
	color: #999;
}
.saleTicket .sale_box .list .time {
	padding-left: 28px;
}
.saleTicket .sale_box .list .infoBox {
	padding-top: 16px;
	position: relative;
}
.saleTicket .sale_box .list .infoBox .price {
	width: 85px;
	font-size: 14px;
	color: #999;
}
.saleTicket .sale_box .list .infoBox .price .pri {
	font-size: 16px;
	color: #f4a21e;
}
.wap ul .list:hover{
	transition: 0.3s;
	box-shadow: 0px 6px 16px 0px 
		rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

/*热门线路推荐*/
.hotline_wap {
	margin: 36px auto 0;
	width: 1200px;
	height: 140px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px 
		rgba(51, 51, 51, 0.04);
	border-radius: 4px;
}
.hotline_wap .title {
	line-height: 50px;
	padding: 0 36px;
	font-weight: 600;
	color: #f4a21e;
	font-size: 18px;
}
.hotline_wap .title .tip {
	color: #999;
	font-size: 14px;
	margin-left: 24px;
}
.hotline_wap .list{
	width: 236px;	
	height: 78px;
	overflow: hidden;
	font-size: 14px;
	line-height: 36px;
	color: #999;
	padding: 0 30px;
	border-right: 1px solid #e5e5e5;
} 
.hotline_wap .list:last-child{
	border-right: none;
}
.hotline_wap .list .list_wap:hover .place{
	color: #333;
	font-weight: 600;
}
.hotline_wap .list_wap .place{
	vertical-align: middle;
	display: inline-block;
	width: 100px;
	height: 36px;
	text-overflow:ellipsis;
	overflow:hidden;
	/*margin-right: 20px;*/
}
.hotline_wap .list_wap .date {
	margin: 0 20px;
	font-size: 16px;
	
}
.hotline_wap .list_wap .price {
	font-size: 16px;
	color: #f4a21e;
}
/*目的地推荐*/
 .hotel_advice .advice_box .list{
	background-color: #fff;
	margin-right: 12px;
	width: 290px;
	height: 256px;
	box-shadow: 0px 0px 10px 0px 
		rgba(0, 0, 0, 0.04);
	border-radius: 4px;
}
.hotel_advice .advice_box .list:nth-child(n+4){
	margin-right: 0;
}

.hotel_advice .advice_box .list:hover {
	box-shadow: 0px 6px 16px 0px 
		rgba(0, 0, 0, 0.1);
}
.hotel_advice .advice_box .list .listImg {
	width: 100%;
	height: 189px;
}
.hotel_advice .advice_box .list .info {
	padding:8px 15px;
}
.hotel_advice .advice_box .list .tit {
	height: 30px;
	position: relative;
	font-weight: 600;
	padding-right: 80px;
	line-height: 30px;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow:hidden;
}
.hotel_advice .advice_box .list .tit span{
	position: absolute;
	right: 0;
	top: 0;
	width: 80px;
	color: #f4a21e;
	font-size: 14px;
}

.hotel_advice .advice_box .list .tit span strong{
	font-size: 20px;
}
.hotel_advice .advice_box .list .con{
	font-size: 14px;
	color: #999;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow:hidden;
}
.hotel_advice .title .tit_left{
	color: #659ff5;
}
.hotel_advice {
	margin-bottom: 98px;
}
.hotel_advice .title .tit_left::before,
.hotel_list .title .tit_left::before{
	background-color: #659ff5;
}
.hotel_advice .title .tit_right span.active,
 .hotel_advice .title .tit_right span:hover{
 	color: #659ff5;
 }
.hotel_advice .dest_city {
	margin-left: 25px;
	font-size: 18px;
	color: #659ff5;
	position:relative;
	padding-right: 10px;
	cursor: pointer;
}

.hotel_advice .dest_city::after{
	position: absolute;
	top: 20px;
	right: -3px;
	display: block;	
	content: '';
	width: 0px;
	height: 0px;
	border-color: transparent;
	border-right: 4px solid #659ff5;
	border-bottom: 4px solid #659ff5;
	border-top:4px solid transparent;
	border-left:4px solid transparent;
	transform: rotate(45deg);
}